prefix-list kubernetes-ipv4 {
    10.192.72.0/24;
    10.194.128.0/18;
}
prefix-list kubernetes-ipv6 {
    2620:0:860:cabe::/64;
    2620:0:860:cabf::/64;
}
policy-statement kubernetes_import {
    term ipv4 {
        from {
            family inet;
            protocol bgp;
            prefix-list-filter kubernetes-ipv4 orlonger;
        }
        then accept;
    }
    term ipv6 {
        from {
            family inet6;
            protocol bgp;
            prefix-list-filter kubernetes-ipv6 orlonger;
        }
        then accept;
    }
    then reject;
}
