prefix-list kubestage-ipv4 {
    10.192.75.0/24;
    10.192.76.0/24;
}
prefix-list kubestage-ipv6 {
    2620:0:860:babe::/64;
    2620:0:860:babf::/64;
}
policy-statement kubestage_import {
    term ipv4 {
        from {
            family inet;
            protocol bgp;
            prefix-list-filter kubestage-ipv4 orlonger;
        }
        then accept;
    }
    term ipv6 {
        from {
            family inet6;
            protocol bgp;
            prefix-list-filter kubestage-ipv6 orlonger;
        }
        then accept;
    }
    then reject;
}
