prefix-list kubemlstaging-pod-ips4 {
    10.194.61.0/24;
}
prefix-list kubemlstaging-pod-ips6 {
    2620:0:860:302::/64;
}
policy-statement kubemlstaging_import {
    term pod_ips4 {
        from {
            family inet;
            protocol bgp;
            prefix-list-filter kubemlstaging-pod-ips4 longer;
        }
        then accept;
    }
    term pod_ips6 {
        from {
            family inet6;
            protocol bgp;
            prefix-list-filter kubemlstaging-pod-ips6 longer;
        }
        then accept;
    }
    then reject;
}
