prefix-list kubernetes-pod-ips4 {
    10.192.64.0/21;
}
prefix-list kubernetes-pod-ips6 {
    2620:0:860:cabe::/64;
}
policy-statement kubernetes_import {
    term pod_ips4 {
        from {
            family inet;
            protocol bgp;
            prefix-list-filter kubernetes-pod-ips4 longer;
        }
        then accept;
    }
    term pod_ips6 {
        from {
            family inet6;
            protocol bgp;
            prefix-list-filter kubernetes-pod-ips6 longer;
        }
        then accept;
    }
    then reject;
}
