prefix-list fundraising-codfw4 {
    10.195.0.0/24;
    208.80.152.224/28;
    208.80.153.197/32;
}
policy-statement BGP_fundraising_in {
    term address {
        from {
            family inet;
            protocol bgp;
            prefix-list-filter fundraising-codfw4 orlonger;
        }
        then accept;
    }
    then reject;
}
