prefix-list cloud4 {
    {% for prefix in wmcs_prefixes %}
    {{ prefix }};
    {% endfor %}
}

policy-statement BGP_cloud_in {
    term address {
        from {
            family inet;
            protocol bgp;
            prefix-list-filter cloud4 orlonger;
        }
        then next policy;
    }
    then reject;
}
