asn: 14907
lvs:
  - 10.2.1.0/24
  - 10.2.2.0/24
  - 10.2.3.0/24
  - 10.2.4.0/24
  - 91.198.174.192/27
  - 198.35.26.96/27
  - 208.80.153.224/27
  - 208.80.154.224/27
  - 103.102.166.224/27
lvs6:
  - 2620:0:860:ed1a::/64
  - 2620:0:861:ed1a::/64
  - 2620:0:862:ed1a::/64
  - 2620:0:863:ed1a::/64
  - 2001:df2:e500:ed1a::/64



users:
  - name: akosiaris
    uid: 2013
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC5IbCL8F2mKMLVL2yp3RP+1rs5v6R4iveIctHQA6kccymfoUa5y9FLT9+hx9ljXZDjrUN3rPeagbZDrGQj6UlI32YZVKRwAeaLkp85HpbzaL/2GKM9UlSq6Qztnuxp/cQGQtDrSK9rwPHk1kqxhXQDeu0+mzqgKMsTqZshG2pH+T27rpZMcUyyF0nX14yoqPHdxvetYfjhAo0WIuwmMcyDcv/Au4AaDgOoKqbYVNY/I5gRYxEotRuJeNg9NLFlUDmntA5mXthotK4uWimfDV8rI1695n2Idvf/iNtZiO6tnIFfs7nrv3C0vFZO+MMbrU0cz/Abbhq4zaQH7zqrP0GfaR4AJu+0SgOjDbmAhOgwgYOxpdhChIABjVJTP3chKgJ1y1JeUxyUaIayddp/Kyye7z0kFJw0+D8YROAPWkkJvpV6c0/U88LMjupG2kcVlxqPrUCJiL4e8viyZQxxJOJhS/Zdf56AO8Xh8WAxX0RZGLbA2GYln1euu+8zZuvfYuZa+IRPihlY9b1fkyYP4Y7WtVNkvtFuwqKzwI2qyRGPH9W6PI0yva1BYNf/jg2qdFiboH44cBzc0MoFoqjzD7RHJpPQJQFeEiZsrQjDvm18MMCONJTPHYJaA5YwxClRXH8scWx+H0MjDwC9KmhMPm+Rb0iXPh7KePhP1jAxN+Ldew== akosiaris@production"
  - name: ariel
    uid: 2004
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAwaTYlLZ90/oQ5tDYDkhI2mHa1L6Vh+zcekCt8D08N7/CrFI5sUVteTwMWw2ytQlWnyT3HVgHb4IS1EPjpjyuqseRcNW0HYsqBk3E36PCBQIqjLZ0nDAeHQtm6T6pXiKC5qUppghwrvDxVYFpF3lFzAzfYMrF7iugk0xRPTHZWm8df7dqIB/6FfbxSD95yQVAlJefxoFWbo3Yn+exEZQvWv6lQYXnjV5DSwMf8tPGDkc2DRjrnR52ZrXPRZFCqc9JGkA/l8QsYtjmqJdnOgq5raOb56aRulJYdP2j//B4lRJJlglMuj8dSZE/j04zub+P2QhfdqeEHmeaTUqbwcnZZw== ariel@ariel-desktop"
  - name: ayounsi
    uid: 2023
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyYO8D0uw+sFsybjj7iD2MegAjqo7ALEaQdeiPo93zaVQjMUQMktvSVa61FG4rZqHO1s4UDJAGvL/mf4sxaJeGtJwWNZQZ9Bqd5YAsjlKuokRlbPHygGp14GZhMxiPYGEePZE7NbKpFr4M48dm7Q2h0ywYVF+cM2EpFBUQrTgp6UjH2JuaCz7uPpdAvjSk29qUOq96fsy2fJlT1xM3sBWvgBTTNpW5aA9Zo9nhLhViopYzCaLnRPz2vEZkm8PIamzKM3X32ztyS+kIBqCnn9OsMDzSrwoDwb0QXUE82Pgmyb0rXGqTPuNojGRv0AclPtELP2jgY9hR0x4d2Gg5CBHIQ+cOXXQQ5tL3dq1RQo2g3XVoE6SbQ68dSKR7PcPC+n3BGSuGwGaIG8RCUGBYsqFN8+bz1MdQUSTy9nEIzUkx5NmXig60BDXxUtAMSvX9d2NNMOrKvpph7xmfLEQWqc/bZ9WTa7qVTLYKCCiegLevEDA7rgZCnYhpU8BDNIqwkm7B1LTwCkqSGJUZO6IxbqCozKrZxNcj9gi1mkXy0Dmtq8W33J34eku992VjNUR/yDEbJxE9G3crvZxMtOrS0MOuowErn8LK+XekjaRkuhAu+feSYpdvMvKbMXOsNkO1oqeNXIbVrms6kK6aOqiJzZKqlKl6/tTwMQNlNRqYKZCoIQ== ayounsi@wikiprod"
  - name: bblack
    uid: 2016
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCxNcPFGwSUYB24njYY0BX/vHm2AFXZSQtPcPGyJxP+fkkaTQOKX4pGST2oCudlV4hBnskTTDyd4r4YF1+HPAzxX7myCcCFh+9L8AOuVcdcH3g9dSiV3csAemlOsfPivrJEx2RG5sFiYqaLSfSMF65QjJUaX7thWIHRFH+sDoPfVBEJABbvO3yeA9uPBzqWPs+kII7n3WMEsiZPvbPRypsfFwa0yoZotnoOC0ZoiQOFZCm3v+Xnoxv5gRxGIZCrR86dstKoISJU0PmPaVZkYElAhtbLUxlBCsE/lSQi/phQduuI9u+pApaW+4FxpUOPD+i6NfdjchJRfNG5Lh/7PPgUo3LWXfQr3qKm5dOT0PbgY7Mif3fvkoI7CT5RG+TVau5YjU6zL8TWAx8nv7U2hgU/VuJT96FvBYbnvbySJwk7LMEl85UzZ4M3o9D74csj9lRGIc3VXoOL7T9peYzTxr6+0Uuo6mBWOdgnp5tn/ew145SXJmwL2Ly3k/KVn5lehL6F11QaUI74Yw/MuZ6eXmiR/ZBcbBHD2WnRyJOPjw/IOwUO848A4NoAcie0ESKSRk5RdmksMns5wYniUEYOCjuErk8NK3ClquQ0Wd6yOz0TTRUkPrUR4fIuEGraYlIARUvnidxK9kFj6q5KYc2MKPGw0m9scPGLGokEAnllrs+nEQ== bblack@production"
  - name: cmjohnson
    uid: 2010
    class: operations
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRcpxRnwLHjFjOuadfyyQB2CEFArfVzXA9gGZ0yI+zgF7tTfqj0vpAJpo4y8II7RayRuYbMQNMKdSdcHkg0qWrcljaLmkgMxg4eUNSHWWdBuGDKIFKH9Rj7vU7WKK/jmXGf1Slt2h7oFakRUp4p6u1kb4+P2yJwrYyQFXaCmiIQ9elEkkij7fEY2o1BZQ7S9MmmyQwbfg/cw1DShoQJkHlAm6ZG4m4fzYU2z8z+Pgm6d86QsEa8rEBf6GgwMcSon/b7fsXBc/XL0VV9CZOQ6Z5qkSe7ccOlhjS1wSRq6O4IdkxfSgVHAi00HsUZPlMoueB7hX1d9UQOxSMja48Pwklc7XarkuENZdVWu7b7CoJrQ2bSYDky19mKwU5iTZlm/843yE4MtnM8pqq2mx8+onQTAK0Fnmb+cqt8wEz3PAImC0cMnPscmUWYWC2z+2eeOsKUdNe3WyA4wbnR+hRqeUAYHUHEpQobpKHWhOFIh3kIns/WprJj+ezL2jcJRev12qhIoDW3b/VDhkU/Hx22qFHraT6i91j2/qtxNnwInlhQbQ6POCXYaGSTe4BViUAu7T7/OCL6Tx7WW5TCrEeBRKtOqNI3/Un8eob90GdQQ4PzAyEznHRqv5XmgR988WrDtsvR11DgN3benu9GJYFZZJwkt6BvEJDT+W+hlAbc0Rq6Q== cmjohnson@wikimedia.org"
  - name: elukey
    uid: 2021
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC9rdkfGRw7mI6lt3UfwWcsWBn+qOV+xx7VhI5vB4rcjSgbiO8sI5aEpdOTHTsQm1DEIth3JzaJ66H5UAkUJrFHyDxbfqhoghOLe1+DTy3At/WldmP8QEuBGJZ2GDdhJvU0LyMd7eFVl8poQBWeVPz7Ds+9IFDc41YmCUNGJb0Z/Vwu8IkIutVFe58e3Q2hwAOgtta+QwT1x6TSzoQC+ElOkBxl+8XPjK1/lJ8+VK1HHpL8rl3XzGB4XEhLecVtnzLAkkm6qRvGV0iCTbDyF1VBDytcPIvMW+2NX4jcYXOj9C4zHMLdLLHjQr/4BuDEXa7WJQw4h+8I7/UjTC7FtSUt5OB2/pr9SPssLhHZaw3kQ3vwNTz7u6Fq0jX4c+cN0VDnnjF78cI77RmxbUZ4RPyTa9nrS+738utJ4fh06qNpx+B3tCq1Fu//PU5MepQq5zPczU4KUEBceQuzjXexpoXT5XOoMnZfWs3xhYzAyv9lmYC+RSq7+ZXHR5GH+DdRv1OOuJjVvWRSErav5kZ0g0SE/8tJ+QQUV4e4TldP+ru3sB34VGnAdrhnyoUQYKhFCv3iW6NA9KzceY+Fm6PWUQKXLjHYaL+Q2v9SrAztfQvzOUdxNre8GSXIanQLg/LSCYMd3SuLqBjlxCDm3Xed+T7zmNjAdLWD9gfnVxQwxZ0KNw== ltoscano@ltoscanowmf1553.local"
  - name: ema
    uid: 2022
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfoCT4+pXcLRk3jsZsxFsAtVP38Rs4pfdxSS05+hkMcN1yxi2R1ZeNFkQkCPo6s25Gq863ru5E/vxSjy9mDS4HeaxNSJlPPWD0iEmGdyCg+wEGAZ01n1muFDyb+oiSNy5JcgOk0ZqAPNPYlISKVp+vLro5txdEK8cySy4BIbiM5ygKIjmq1xP+dM9zVdd/UbVQPPBFS2UDBzLX3AeYen4biMx2GkHBpZ/nJLqtb9JE4LLzQAtrqi4+J9jKQGepeTemVQ/n3lbheiGmTDZbRsUx7GTXmdIOPqN4k6FEXEgMIe5plxV8YeAoWqMsGpln4J4bz9HCtM1dL5mdLsa7tkq/ ema@orion"
  - name: faidon
    uid: 2005
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/m5mZhy2bpvmBNzaLLhlqhjLuuGd5vNGgAtRKmvfa+nbHi7upm8d/e1RoSGVueXSVdjcVYfqqfNnJQ9GIC9flhgVhTwz1zezCEWREqMQ3XuauqAr+Tb/031BtgLCHfTmUjdsDKTigwTMPOnRG+DNo+ZHyxfpTCP5Oy6TChcK6+Om247eiXEhHZNL8Sk0idSy2mSJxavzs25F/lsGjsl4YyVV3jNqgVqoz3Evl1VO0E3xlbOOeWeJnROq+g2JJqZfoCtdAYidtg8oJ6yBKJHoxynqI6EhBJtnwulIXGTZmdY2cMJwT2YpkqljQFBwtWIy/T+WNkZnLuJXT4DRlBb1F faidon@wmf"
  - name: filippo
    uid: 2018
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDt7HkyaZeIe7L8CuWE1+N47+wDT/4cUmEcrPA1xgdA4By/jesf+1oOTvusbIyXFuCssvspgGmwwNMD+PzNF3xAEo+Yn2aqH4OBhRiF0U8jeaJL1EhzKnT8KKG4fOzzerbKFlE5K9LnYhMXp2i6MoAN9xB3Z350dBwqhspf0OKqZ8AGbsc9RdcEr2pBT7RPRlcKXRTrd47keV+PUazpDVSr2MCdmErknROpcBh5IS27DrKHpma3UcNUGIeMsvsV6nyt8Tz2+EMGkd+P+whij0YzlKDkqB2ppoD+gCPAki277wobiocea79fvPm1/Na+tpXJT7gU+YErld4VRvUclyR/ fgiunchedi@wikimedia.org"
  - name: jgreen
    uid: 2019
    class: read-only
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCtlXCYUGn23LVRlgDM9T1onBsTuD20QEbVAplIakTAE55hN1ko1kY09Qb01l4VoAqDPapx0ROYd1on9oYYwSOGgSHKIOrB0OGg+3KX66Pjlr5ohpii20WSHS/NEI1gT76nQX7RN7tHq5/3ciNmCeQZ81YsDwCbmr7DRB5XiHUCaaCp/GIb6GXTliqtSL5oC+Rrzw4cqMeG/M7yExohVetjEK/AMOjgzMZEBHjZczvZiNpijHQ4WAIzl2KzuRDcqLKnOi48Wp+ANaKZmQngJdu8pAI51vqFIEhEwNpQrrUi1JXY2gXmYudRrvg/BvXgPJUDMmm9TOHNnBwwX8xafUgD jgreen@wertyukio.trouser.org"
  - name: mark
    uid: 2000
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEAorTmQ0qlrxB3RL+GULLzex3k1Pg/c6tgLbKsl1A7Qo0B5XI4eNgfWwaAXUrKyQW3/9gwDH3YJ2eoOue0/BGhKX6voOTnNPeGE9ZbrufpPLT6DXDEbvpmXQd/qw8s0GxdftleHYl28av0nTZgKY+1/Oc+ZHNUN5YxmdGehWBvTXs= mark@talon"
  - name: rancid
    uid: 2002
    class: rancid
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC2/Azrat1AIk5J4QCQs8YOMeNyaemkrw4BocRORlnR4yN9XnhcSK42Vbr+iH6P0d9CRfTlZ6HkA5C0p4IHdDNcAS7+XQ6Uaq6aqZuJ4TGHv9H/kXze9IxxAIaELHJHUh1v2jTQjD7II9ClBJOLaTvN8e1i9q3rtMAmWtnAwL5TbV6uaBIuxqFWw6+NxAfsf5a+7TbRT0T5zaMDGJQ+XrLn/I+bpr3wN3L1bfhqBAk50YJpOVZNtvGQ6xw8vqZUTM69xIwqDPnYd3pm4y+X/cUSLmnBOvIIY+gI3Opc/IoXBtqMboDp767rTmFIp1fnXI0KP8dr/UXr4eBi4hX2d0Q7jCcFkJk/pL2NCgn+BM2mZhnLGjhNo+lpyzkLLDvj1TO8FLXoGzERQuuW2V4oARPlJjuP36p2WzZMJsdgywb66zt9yVpOxImUBAt2+CmqjjJIpcCE1NETZYSGz5MWjAX9eoTPWU4/y18fw+JqwteSjpTym5WE/QGKZco7EpoInMhvjyriWiey/7mLKQN7+GFhOe2b8m1Bmm5rDO5EBO71NFFAubHPZsbmXmfIf+7BG/+f+DHCHWVex7m+qFQ3XjGwbjDUvplnQy6osMHWnzePe8q9nJelRzyOtsGD+MgUrKKF+kjH3/yaxhqZjoIbzvxwQRABMzhityBRdf3RgpnTAQ== rancid"
  - name: robh
    uid: 2011
    class: operations
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAoDAuzkYEIeGVC10zh3i6WnyJjhWK/JpQbSFlWfb5t02kGPvmi8m+fdCPhvqiOpOCcQqTL1Knia6AeRNMx+dj3qxctsas/RnJtIUbACK5gH6aKg0OMmcG9LNiVLN5knx1UMHhQ7Ma6KSiDLeqsID009j7+Fj8qgGup7lKOQs7WYRpaXlAyR0hdKeyxcXWh+GPQEZAhl0DHrjFgdDcc5n2K8GBRESfdfCKm0SomHYGWPsTIpWrY13se0kUJzWXIafzr0U/czEdVDuSuil6P65d9cU7vypcUC3i5d2L4QiO4MBVNcXluFuFNZ8UY/QAlixz/5x/ARbgjcMvXwJQWjhh+w== rob@laptop"
  - name: rush
    uid: 2015
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+IUUkFX0t/8UqTZJFRJ6JaDPvwIOTsGu2mIg7OGA0lDhJH8eRz2dCPSM7Z4IwKPh92mtct3+aZy8ziT6bb88TNESU9n92m4HdHogOLMz/ksJW07oY2fTjXs9DeaPZUP5Sf8uSrU0ip40wPn8fDuXIjEX2MhUgzafNk2nm0+VFqdU+p4vMf8PvTjtjDMqhq0r9mml0YH4T4kknibwAWlcJaM7O29FlRWoRsI2nIzde5fYASdvrstPN620EScBQo3vAlfbkQCvxvWpr/xO1DfkFDUcIOmrC5uWbOKrGCZRLfnOQTBaMCjHcKmEPJ5YzII692G3BTvbIZ+6AqnLSoA81 cpettet@wikimedia.org"
  - name: vgutierrez
    uid: 2024
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC7kVBeBx3ecxOKoWSeCEZHFe2QZ0be09uQ6JjsoaBnm2LHNRg3+0ju0drSdRlnHNmfL8S8NKzSD2SFLHwXGqd4pj8IGQRApJLbHjzT2oiNAylYQeEjSJKFjsC812tnzfa3yu7EGPuwuiz5WGBeNWemugDaGy78UTVdgwe46fSkCmYSrfOrYgCYRhgLUO4s0Jm/pH7u+q0iGzNflpcCGz8QgfZ2Dd5loumpMmmswDT9xe9+wyjyZmYqvRlH1KVbK19BSJhKdTwV8C617+6X/psdPVu9nOIUaHEJ6X0ByaiQvIvnRHIu6MKTssfPwkMEa2Ga6I7bVbiO/igeCaOunz7i+sPLupz6pwlxTPqS15cu3KIgJxwgwdsCJLyrQ1yJ2jaWVN3PKhBzlJaAcfn9hEGGlFTtEgx4jkay8xPaHpgQ8Qfi+aDDF6XggdtFa2Gxb8pb2FSrxuoFoTNdiLnB2xDI4qMF211uyRoX684M9WXNm4LdNucA52kDCXJC7DOyejp7ToaFyKgZAWWASYHset6nIvFy8ciAiVS0tfjMevJ1GwFy0znb7Hx2YzmADgInCYNcaT9RKNz/3ObFaBvlbAwcCeKB34gOyftTwZvX1T3G49XGQX54M7eq8tIlTXn8CaL8Vf/q1D8BoskbQfNXypLs7pJNgrpeKcaGMIwEsvcJ7Q== vgutierrez@yubikey4nano"
  - name: papaul
    uid: 2026
    class: operations
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCmlt2EID9N7s/YwZ91Ma4t+/M4aQEGx6Qzzwz+pFOC/CNiz43fw89fHsMmrrU+e6T9hI9nTz899EVaxM8CG9kmGtpYOtcpoFkcMhFlnP9JZpuUzmE/DVVDXBFnrjnXQzNisKjpPOe+NEu4v4NDwPv+cOQpJ8uXqikg+pd0ZYWxbdFIp+7dokhk1+1ltxTCDDrMkiZEBbfYEcXmw2Kt0KU2hdq9IRg1o/YFJSYVmIXkkN3Ayr238vYLi03946ReyKm/czGq+0UFh+Lp+TuDwrVa/kOqBko6aAJgVvYLofKF6CgfTHmMPfA01EbCDUtPxmg6nUF0fHweQsGKMHKFxFSF productionwiki"
  - name: volans
    uid: 2027
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCsdJZVR7FrdoaMsR14f13erENioNszNHrawAf6YO+PmB7B54qY/+/ptznZqpHP4CXl4dFFdezj2O/U6LFN0K9TKqzmYz1p7EcWNxypoI0Hm70IjCo5BzOYLAjbRSKbuevnAG85qh0a76zo+xLETKA2GaxZbVRZ8y81/FSkDK+D+D8gECK0PoTZxA0z4kq440WJPo1kxAVOHN33E50WUhEuCndHvI0d2wGXG/c9vZMLMtaRqG7I01ExnZ7sT7jTLUGrZHNawDQUTynAaSX2ZEPZKwIzA/OWImFZ2JSNhHc2HlKrxyRiqOob5ekQ8qbKCCOwWk7otWzEKgCkevE/H7WqfuRDx2vqTc2cVWjEWtI5VuRpInowzz6O+Cg9FRFHv0eqMcXJTxfIyNvHdcKC/IM1J7FmfeOGGhRRgPQQSihntnv6+T2EQwMihzlPAwd2rMdr5q8CF6JDgj0cdZ93+eD9eMz2aEmT3qhFb4vlDiFJKrpZpEQgt/3Jhl+CTHGnH6EzfD45joI9V9pQhWll3fZlMKhZZSc1ic1S+VzbJ9c7mizNdtZw7Y3T+D+SVTKFgoki5LJdQeReOof5tkAGZRbpwVF4mQH7QmW9trLqttqeMXw4FyDph1cV9GN0alFVRty0ETV5HM60X98ZX9pRVVX97pCN1ssMYhoULPqrMEJWHw== Riccardo Coccioli (volans) <rcoccioli@wikimedia.org>"
  - name: jbond
    uid: 2028
    class: super-user
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCi/LkcJBJgIlAOTwEbw0odvXJEQf5+T+RQnQgvl3xA5AufYTU/0rGSV5GiVD1RPmaH+oCPi1dTI/pKSpl1sPFUNFAgQM42y5cUuXcAX3qfh4pu7zs4fa8xxD+AATnOt6B07OZeSVVg96KkPpNXIJxJL8sz5OLqDt5x1WlOhZp0GZRpsheE3I59Bcye04wlssisP9KfaPt4ypRBVPe/MBDxdVdpFaGR/U/YiOwMLqcz+QH7mAb2WNrkr3Wt4tpF5TMskJIG79FMNVbit3T0676rqbce7uodG/O/KC5zGRtofgEASl3ES9CT5JZY0Td0bVIvmj1aLSszXGZk9HiE7q+6hg0nL80vmkyXuFbzFekezcmUss7CalWmQoRoYOZoZgsUsdnztHb3Mk4bm8FoABJPmoSvsSWA40IGKKOh2fo12x8VJw/GUSRN89vOa9n34NotNGeXneIVA6TNuTmUPvdEPBOlvISwcmbq3mBFpbSjDSR51znCnxWhBFGEoHZTEj2AMcSHWdIt7DTtmn9Yj/RhCLRX50ZLUV9o8AHFGRo4sDH3RL9pRyKKqVxg0vcO+VbtNAdXOlcJsAXHO8SVIPsetMdKr6o/shnyaON7dYjPd7fZgs5U8LxT4TLKgimq9KGmBQHFBKfZhNbj2K5HEFwSFyx9v+JaWy2dmqOEwpMw2Q== jbond@work-laptop"


ospf:
  p2p:
      - cr3-ulsfo.wikimedia.org: ae0.2
        cr4-ulsfo.wikimedia.org: ae0.2
      - cr3-ulsfo.wikimedia.org: et-0/0/1.401
        mr1-ulsfo.wikimedia.org: ge-0/0/4.401
        metric: 20000
      - cr3-ulsfo.wikimedia.org: xe-0/1/1.0
        cr2-eqord.wikimedia.org: xe-0/1/1.0
        metric: 510
        bfd: True
      - cr4-ulsfo.wikimedia.org: et-0/0/1.402
        mr1-ulsfo.wikimedia.org: ge-0/0/4.402
        metric: 20000
      - cr4-ulsfo.wikimedia.org: xe-0/1/2.0
        cr1-codfw.wikimedia.org: xe-5/0/2.0
        metric: 510
        bfd: True
      - cr4-ulsfo.wikimedia.org: gr-0/0/0.1
        cr2-eqsin.wikimedia.org: gr-1/0/0.1
        metric: 4000
        bfd: True
      - cr4-ulsfo.wikimedia.org: gr-0/0/0.2
        cr2-eqdfw.wikimedia.org: gr-0/0/0.1
        metric: 1390
        bfd: True
      - cr2-eqord.wikimedia.org: xe-0/1/5.0
        cr2-eqiad.wikimedia.org: xe-4/2/0.0
        metric: 240
        bfd: True
      - cr2-eqord.wikimedia.org: xe-0/1/0.0
        cr2-codfw.wikimedia.org: xe-5/2/1.0
        metric: 290
        bfd: True
      - cr2-eqord.wikimedia.org: gr-0/0/0.1
        cr1-eqiad.wikimedia.org: gr-4/3/0.1
        metric: 3000
        bfd: True
      - cr1-eqsin.wikimedia.org: ae0.0
        cr2-eqsin.wikimedia.org: ae0.0
      - cr1-eqsin.wikimedia.org: xe-0/1/0.0
        cr1-codfw.wikimedia.org: xe-5/1/2.0
        metric: 2000
        bfd: True
      - cr1-eqsin.wikimedia.org: ae1.401
        mr1-eqsin.wikimedia.org: ge-0/0/4.401
        metric: 20000
      - cr2-eqsin.wikimedia.org: ae1.402
        mr1-eqsin.wikimedia.org: ge-0/0/4.402
        metric: 20000
      - cr1-codfw.wikimedia.org: xe-5/2/1.0
        cr1-eqiad.wikimedia.org: xe-4/2/0.0
        metric: 340
        bfd: True
      - cr1-codfw.wikimedia.org: ae1.401
        mr1-codfw.wikimedia.org: ge-0/0/1.401
        metric: 20000
      - cr2-codfw.wikimedia.org: ae1.402
        mr1-codfw.wikimedia.org: ge-0/0/1.402
        metric: 20000
      - cr2-codfw.wikimedia.org: xe-5/0/0.0
        cr2-eqdfw.wikimedia.org: xe-0/1/4.0
        bfd: True
      - cr1-codfw.wikimedia.org: xe-5/0/0.0
        cr2-eqdfw.wikimedia.org: xe-0/1/0.0
        bfd: True
      - cr1-codfw.wikimedia.org: ae0.0
        cr2-codfw.wikimedia.org: ae0.0
        bfd: True
      - cr2-eqdfw.wikimedia.org: xe-0/1/3.12
        cr1-eqiad.wikimedia.org: xe-4/2/2.12
        bfd: True
        metric: 1390
      - cr2-eqdfw.wikimedia.org: xe-0/1/3.23
        cr2-knams.wikimedia.org: xe-0/1/5.23
        bfd: True
        metric: 1550
      - cr2-eqiad.wikimedia.org: xe-3/2/3.0
        cr2-codfw.wikimedia.org: xe-5/0/1.0
        bfd: True
        metric: 320
      - cr1-eqiad.wikimedia.org: ae0.0
        cr2-eqiad.wikimedia.org: ae0.0
      - cr2-eqiad.wikimedia.org: xe-4/1/3.0
        cr2-esams.wikimedia.org: xe-0/1/3.0
        bfd: True
        metric: 840
      - cr1-eqiad.wikimedia.org: ae1.401
        mr1-eqiad.wikimedia.org: ge-0/0/1.401
        metric: 20000
      - cr2-eqiad.wikimedia.org: ae1.402
        mr1-eqiad.wikimedia.org: ge-0/0/1.402
        metric: 20000
      - cr2-eqiad.wikimedia.org: gr-4/3/0.1
        cr2-esams.wikimedia.org: gr-0/1/0.1
        bfd: True
        metric: 3000
      - cr1-eqiad.wikimedia.org: xe-4/2/2.13
        cr2-knams.wikimedia.org: xe-0/1/5.13
        bfd: True
        metric: 1820
      - cr3-esams.wikimedia.org: ae1.401
        cr2-knams.wikimedia.org: ae1.401
        bfd: True
      - cr2-esams.wikimedia.org: ae1.403
        cr2-knams.wikimedia.org: ae1.403
        bfd: True
      - cr3-esams.wikimedia.org: ae0.0
        cr2-esams.wikimedia.org: ae0.0
        bfd: True
      - cr2-esams.wikimedia.org: ae1.404
        mr1-esams.wikimedia.org: ge-0/0/1.404
        metric: 20000
      - cr3-esams.wikimedia.org: ae1.402
        mr1-esams.wikimedia.org: ge-0/0/1.402
        metric: 20000
  stub:
      mr1-ulsfo.wikimedia.org:
         - vlan.900
      mr1-eqsin.wikimedia.org:
         - vlan.900
      mr1-codfw.wikimedia.org:
         - ge-0/0/2.0
         - ge-0/0/0.0
      mr1-eqiad.wikimedia.org:
         - ge-0/0/2.0
         - ge-0/0/0.0
      mr1-esams.wikimedia.org:
         - ge-0/0/6.2483
         - irb.900
      cr3-ulsfo.wikimedia.org:
         - et-0/0/1.1201
         - et-0/0/1.1211
         - et-0/0/1.1221
      cr4-ulsfo.wikimedia.org:
         - et-0/0/1.1201
         - et-0/0/1.1211
         - et-0/0/1.1221
      cr1-eqsin.wikimedia.org:
         - ae1.510
         - ae1.520
         - ae1.530
      cr2-eqsin.wikimedia.org:
         - ae2.510
         - ae2.520
         - ae2.530
      cr1-codfw.wikimedia.org:
         - ae1.2001
         - ae2.2002
         - ae3.2003
         - ae4.2004
         - ae1.2017
         - ae2.2018
         - ae3.2019
         - ae4.2020
         - ae2.2122
         - ae1.2201
         - ae2.2118
         - ae2.2120
      cr2-codfw.wikimedia.org:
         - ae1.2001
         - ae2.2002
         - ae3.2003
         - ae4.2004
         - ae1.2017
         - ae2.2018
         - ae3.2019
         - ae4.2020
         - ae2.2122
         - ae1.2201
         - ae2.2118
         - ae2.2120
      cr1-eqiad.wikimedia.org:
         - ae1.1001
         - ae1.1017
         - ae1.1117
         - ae1.1030
         - ae2.1002
         - ae2.1018
         - ae2.1118
         - ae2.1021
         - ae2.1120
         - ae2.1202
         - ae3.1003
         - ae3.1019
         - ae3.1022
         - ae3.1119
         - ae4.1020
         - ae4.1004
         - ae4.1023
      cr2-eqiad.wikimedia.org:
         - ae1.1001
         - ae1.1017
         - ae1.1117
         - ae1.1030
         - ae2.1002
         - ae2.1018
         - ae2.1118
         - ae2.1021
         - ae2.1120
         - ae2.1202
         - ae3.1003
         - ae3.1019
         - ae3.1022
         - ae3.1119
         - ae4.1020
         - ae4.1004
         - ae4.1023
      cr3-esams.wikimedia.org:
         - ae1.100
         - ae1.102
         - ae1.103
      cr2-esams.wikimedia.org:
         - ae1.100
         - ae1.102
         - ae1.103

juniper_protocols: ['bfd', 'bgp', 'dvmrp', 'igmp', 'ldp', 'msdp', 'nhrp', 'ospf', 'ospf3', 'pgm', 'pim', 'rip', 'ripng', 'router-discovery', 'rsvp', 'sap', 'vrrp']
juniper_services: ['any-service', 'bootp', 'dhcp', 'dhcpv6', 'dns', 'finger', 'ftp', 'http', 'https', 'ident-reset', 'ike', 'lsping', 'netconf', 'ntp', 'ping', 'r2cp', 'reverse-ssh', 'reverse-telnet', 'rlogin', 'rpm', 'rsh', 'snmp', 'snmp-trap', 'ssh', 'telnet', 'tftp', 'traceroute', 'xnm-clear-text', 'xnm-ssl']
